# Top-most EditorConfig file
root = true

# Default settings
[*]
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true

# Markdown files may need trailing spaces for line breaks
[*.md]
trim_trailing_whitespace = false
